{% extends "base.html" %} {% block content %}

<!-- User profile information-->
<div class="row">
    <div class="col s12 m4">

        <h4 class="profile-title col-12 pb-3 no-gutters text-center">
        </h4>
        <input>
        <h7 class=" col s12 m4 left grey-text lighten-1">activities</h7>
        <p class="left grey-text lighten-1">12</p>
        <h7 class="right grey-text lighten-1 ">last active</h7>
        <p class="right grey-text lighten-1 ">28th Nov 2020</p>
    </div>
</div>


<!-- workout cards -->

<div class="row">
    <div class="col s12 m7 offset-m4">
        {% for workout in workouts %}
        <div class="card">
            <div class="card-image">
                <img src="static/images/default_noimage.jpg ">
                <span class="card-title">{{ workout.workout_type }}</span>
            </div>
            <div class="card-content">
                <p>{{ workout.workout_date }}
                    <br> Duration: {{ workout.workout_duration_h }} hrs {{ workout.workout_duration_m }} mins
                    <br> Distance: {{ workout.workout_distance }} {{ workout.workout_metric }}
                    <br> {{ workout.workout_description }}
                </p>
            </div>
            <div class="card-action">
                <p class="center-align left"><em>by: {{workout.created_by}}</em></p>
                <a href="# "><i class="material-icons center-align right " style="color:rgba(0, 153, 255, 0.671) ">add_circle</i></a>
                <a href="# "><i class="material-icons center-align right " style="color: darkgray; ">create</i></a>
                <a href="# "><i class="material-icons center-align right " style="color: darkgray; ">delete</i></a>
                <input>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}