{% extends "base.html" %} {% block content %}

<!-- User profile information-->
<div class="row">
    <div class="col s3">
        <h4>Your Workout Log</h4>
        <h7>activities</h7>
        <input>
        <h6 class="blue-text"><a href="#"><i class="material-icons center-align left " style="color: rgba(241, 152, 36, 0.87); ">directions_bike</i></a>Challenge a friend</h6>
        <p>Challenge a friend to stay on top of your game</p>
        <h6 class="blue-text"><a href="# "><i class="material-icons center-align left " style="color: rgba(241, 152, 36, 0.87); ">person_add</i></a>Request an Opponent</h6>
        <p>Fancy a game of tennis but noone to play with? Request an opponent in your area</p>
    </div>

    <!-- workout cards -->

    <div class="col s8">
        {% for workout in workouts %}
        <div class="card">
            <div class="card-image">
                <img src="static/images/default_noimage.jpg ">
                <span class="card-title"><strong>{{ workout.workout_type }}</strong></span>
            </div>
            <div class="card-content">
                <p>{{ workout.workout_date }}
                    <br> Duration: {{ workout.workout_duration_h }} hrs {{ workout.workout_duration_m }} mins
                    <br> Distance: {{ workout.workout_distance }} {{ workout.workout_metric }}
                    <br> {{ workout.workout_description }}
                </p>
            </div>
            <div class="card-action">
                <p class="center-align left"><em>by: {{workout.created_by}}</em></p>
                <a href="# "><i class="material-icons center-align right " style="color:rgba(0, 153, 255, 0.671) ">add_circle</i></a>
                <a href="# "><i class="material-icons center-align right " style="color: darkgray; ">create</i></a>
                <a href="# "><i class="material-icons center-align right " style="color: darkgray; ">delete</i></a>
                <input>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}