{% extends "base.html" %} {% block content %}

<h3 class="center-align">Register to Fitness Tracker</h3>


<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel">
            <!--username -->
            <div class="row ">
                <div class="input-field col s12">
                    <i class="material-icons prefix blue-text lighten-1">account_circle</i>
                    <input id="username" name="username" type="text" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9]{5-20}$" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <!-- password -->
            <div class="row ">
                <div class="input-field col s12">
                    <i class="material-icons prefix blue-text lighten-1">lock</i>
                    <input id="password" name="password" type="password" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9]{5-20}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- register btn -->
            <div class="row">
                <button type="submit" class="col s12 btn-large blue lighten-1">
                    Register
                </button>

            </div>
        </div>
    </form>
</div>


<div class="row">
    <div class="col s12">
        <p class="center-align">
            Already Registered?
            <a href="{{ url_for('login') }}" class="blue-text lighten-1">Login</a>
        </p>
    </div>
</div>

{% endblock %}