{% extends "base.html" %} {% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <h3 class="blue-text text-darken-5 center-align">Request Opponant</h3>
    </div>
</div>

<div class="row">
    <form class="col s12">


        <!--select workout type-->
        <div class="row">
            <div class="input-field col s12">
                <select id="workout_type" name="workout_type" class="validate" required>
<option value="" disabled selected>Choose your option</option>
{% for category in categories %}
<option value="{{ category.workout_type }}">{{ category.workout_type }}</option>
{% endfor %} 
</select>
                <label for="workout_type">Sport Category</label>
            </div>
        </div>


        <!--submit button-->
        <div class="row">
            <button class="btn blue" type="submit" name="action">Request Opponant
          
          </button>
    </form>
    </div>
</div>

{% endblock %}